body{
  font-family:$main-font-family;
  font-size:$main-font-size;
  color:$main-text-color;
  background-color:$main-bg-color;
}

.container{
  @media (min-width: 1200px) {
    max-width:$container-max-width;
  }
}

a{
  text-decoration: none;
  &:hover{
    color:$secondary-color;
    transition:$transition;
  }
}

.form-control:focus,
.form-check-input:focus{
  border-color: $secondary-color;
  &:focus{
    box-shadow: none;
  }
}

ul{
  list-style: none;
}